@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTRampu5_7CjHW5spxoeN3Vs.woff2) format('woff2');
    unicode-range: U+0000—001F;
}
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    src: local('Raleway Light'), local('Raleway-Light'), url(https://fonts.gstatic.com/s/raleway/v9/-_Ctzj9b56b8RgXW8FAriQzyDMXhdD8sAj6OAJTFsBI.woff2) format('woff2');
    unicode-range: U+0000—001F;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', 'Raleway', sans-serif;
}
header {
    height: 100vh;
    width: 100vw;
    background: -webkit-linear-gradient(top right, #360033, #0b8793);
    background: linear-gradient(to bottom left, #360033, #0b8793);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
h1 {
    color: white;
    font-family: 'Raleway', sans-serif;
    position: relative;
    font-size: 3em;
    font-weight: 300;
}
.textbox {
    position: relative;
    text-align: center;
    left: 50vw;
    width: 40vw;
    height: 10vh;
    z-index: 75;
    background-color: black;
    color: white;
    box-shadow: 1px 1px 10px rgba(40, 40, 40, 0.6);
    opacity: .75;
    filter: alpha(opacity=75);
    top: 20vh;
    border-radius: 4px;
}
.social-buttons img {
    -webkit-transition: .3s;
    transition: .3s;
}
.social-buttons img:hover {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: .2s;
    transition: .2s;
}
img {
    height: 40px;
    width: 40px;
}
.aboutme {
    background-image: url('img/stun.jpg');
    background-size: cover;
    height: 100vh;
}