@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTRampu5_7CjHW5spxoeN3Vs.woff2) format('woff2');
    unicode-range: U+0000—001F;
}
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    src: local('Raleway Light'), local('Raleway-Light'), url(https://fonts.gstatic.com/s/Roboto/v9/-_Ctzj9b56b8RgXW8FAriQzyDMXhdD8sAj6OAJTFsBI.woff2) format('woff2');
    unicode-range: U+0000—001F;
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(Roboto.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
* {
	padding: 0px;
	margin: 0px;
	z-index: 0;
}
header {
	font-family: 'Roboto', sans-serif;
	width: 100vw;
	height: 100px;
	background-color: #3F51B5;
	color: white;
	position: fixed;
	z-index: 50;
	box-shadow: 1px 1px 10px rgba(40, 40, 40, 0.6);;
	-webkit-transition: .25s;
    transition: .25s;
}
header h1 {
	font-size: 4em;
	position: fixed;
	z-index: 55;
	top: 2vh;
	-webkit-transition: .25s; 
    transition: .25s;
}
a {
	text-decoration: none;
}
a li h3:hover{
	color: #F44336;
}
section {
	height: 100vh;
	width: 100vw;
}
section h1 {
	font-family: 'Roboto', sans-serif;
	position: absolute;
}
p {
	font-family: 'Open Sans', sans-serif;
	position: absolute;
}
.topnav {
	color: white;
	position: absolute;
	left: 50vw;
}
.topnav a li{
	color: white;
	display: inline-block;
	width: 10vw;
	height: 7vh;
	text-decoration: none;
	margin-top: 7.5vh;
	text-align: center;
}
.huge {
	width: 13vw;
	margin-right: 4vw;
}
.bland p{
	position: absolute;
	top: 24vh;
	width: 45vw;
	left: 5vw;
}
.bland h1 {
	top: 15vh;
	left: 48vw;
}
#stairs {
	width: 30vw;
	height: 37vw;
	position: absolute;
	right: 5vw;
	top: 10vw;
}
.paint {
  	background-color: #F44336;
  	height: 90vh;
}
.paint:before,
  .paint:after {
    background: inherit;
    content: '';
    display: block;
    height: 50%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1;
    -webkit-backface-visibility: hidden; // for Chrome Windows
  }
.paint:before {
	transform: skewY(1.5deg);
  	transform-origin: 100% 0;
  	top: 100vh;
}
.paint:after {
	transform: skewY(-1.5deg);
  	transform-origin: 100% 0;
  	top: 145vh;
}
.paint p{
	position: absolute;
	top: 117vh;
	width:40vw;
	left: 6vw;
}
.paint h1 {
	top: 110vh;
	left: 46vw;
}
#graffiti {
	top: 117vh;
	height: 70vh;
	width: 100vh;
	position: absolute;
	left: 46vw;
}
#graph {
	position: absolute;
	left: 7vw;
	top: 37vh;
	width: 40vw;
	height: 45vh;
}
#graph2 {
	top: 137vh;
	position: absolute;
	width: 40vw;
	height: 35vh;
	left: 4vw;
}
.club p{
	position: absolute;
	top: 220vh;
}
.club h1 {
	top: 215vh;
	left: 42vw;
}
.club img{
	top: 230vh;
	position: absolute;
	left: 21vw;
}