@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTRampu5_7CjHW5spxoeN3Vs.woff2) format('woff2');
    unicode-range: U+0000—001F;
}
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    src: local('Raleway Light'), local('Raleway-Light'), url(https://fonts.gstatic.com/s/Roboto/v9/-_Ctzj9b56b8RgXW8FAriQzyDMXhdD8sAj6OAJTFsBI.woff2) format('woff2');
    unicode-range: U+0000—001F;
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(Roboto.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
* {
	padding: 0px;
	margin: 0px;
	z-index: 0;
}
header {
	font-family: 'Roboto', sans-serif;
	width: 100vw;
	height: 100px;
	background-color: #3F51B5;
	color: white;
	position: fixed;
	z-index: 50;
	box-shadow: 1px 1px 10px rgba(40, 40, 40, 0.6);;
	-webkit-transition: .25s;
    transition: .25s;
}
header h1 {
	font-size: 4em;
	position: fixed;
	z-index: 55;
	top: 2vh;
	-webkit-transition: .25s; 
    transition: .25s;
}
p {
	font-family: 'Open Sans', sans-serif;
}
a {
	text-decoration: none;
}
a li h3:hover{
	color: #F44336;
}
section {
	height: 100vh;
	width: 100vw;
}
section a {
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
}
section h1 {
	font-family: 'Roboto', sans-serif;
	position: absolute;
	top: 15vh;
}
.topnav {
	color: white;
	position: absolute;
	left: 50vw;
}
.topnav a li{
	color: white;
	display: inline-block;
	width: 10vw;
	height: 7vh;
	text-decoration: none;
	margin-top: 7.5vh;
	text-align: center;
}
.huge {
	width: 13vw;
	margin-right: 4vw;
}
.problem h1 {
	left: 45vw;
}
.problem p {
	top: 25vh;
	position: absolute;
	width: 40vw;
	left: 5vw;
}
.problem p em {
	top: 50vh;
	position: absolute;
	font-family: 'Open Sans', sans-serif;
	width: 20vw;
	left: 30vw;
}
.problem img {
	width: 21vw;
	height: 30vw;
	top: 20vh;
	position: absolute;
	left: 70vw;
}
.presentation h1 {
	position: absolute;
	top: 100vh;
	left: 45vw;
}
.presentation p {
	position: absolute;
	top: 110vh;
	left: 30vw;
}
.presentation a {
	top: 115vh;
	position: absolute;
	left: 38vw;
}